{{- if .Values.imageUpdater.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-imageupdater
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
    release: {{ .Release.Name }}
  annotations:
    # ArgoCD Image Updater annotations
    # Apply these annotations to your ArgoCD Application resource to enable automatic image updates
    argocd-image-updater.argoproj.io/image-list: {{ .Values.image.repository }}
    argocd-image-updater.argoproj.io/{{ .Values.image.repository | replace "/" "_" | replace "." "_" }}.update-strategy: {{ .Values.imageUpdater.updateStrategy }}
    {{- if .Values.imageUpdater.allowTags }}
    argocd-image-updater.argoproj.io/{{ .Values.image.repository | replace "/" "_" | replace "." "_" }}.allow-tags: {{ .Values.imageUpdater.allowTags }}
    {{- end }}
    {{- if .Values.imageUpdater.ignoreTags }}
    argocd-image-updater.argoproj.io/{{ .Values.image.repository | replace "/" "_" | replace "." "_" }}.ignore-tags: {{ .Values.imageUpdater.ignoreTags }}
    {{- end }}
    {{- if .Values.imageUpdater.pullSecret }}
    argocd-image-updater.argoproj.io/{{ .Values.image.repository | replace "/" "_" | replace "." "_" }}.pull-secret: {{ .Values.imageUpdater.pullSecret }}
    {{- end }}
    {{- with .Values.imageUpdater.extraAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
data:
  image-list: {{ .Values.image.repository }}
  current-tag: {{ .Values.image.tag | quote }}
  update-strategy: {{ .Values.imageUpdater.updateStrategy }}
  instructions: |
    To enable ArgoCD Image Updater for this application, add these annotations to your ArgoCD Application resource:
    
    annotations:
      argocd-image-updater.argoproj.io/image-list: {{ .Values.image.repository }}
      argocd-image-updater.argoproj.io/{{ .Values.image.repository | replace "/" "_" | replace "." "_" }}.update-strategy: {{ .Values.imageUpdater.updateStrategy }}
      {{- if .Values.imageUpdater.allowTags }}
      argocd-image-updater.argoproj.io/{{ .Values.image.repository | replace "/" "_" | replace "." "_" }}.allow-tags: {{ .Values.imageUpdater.allowTags }}
      {{- end }}
      {{- if .Values.imageUpdater.ignoreTags }}
      argocd-image-updater.argoproj.io/{{ .Values.image.repository | replace "/" "_" | replace "." "_" }}.ignore-tags: {{ .Values.imageUpdater.ignoreTags }}
      {{- end }}
      {{- if .Values.imageUpdater.pullSecret }}
      argocd-image-updater.argoproj.io/{{ .Values.image.repository | replace "/" "_" | replace "." "_" }}.pull-secret: {{ .Values.imageUpdater.pullSecret }}
      {{- end }}
{{- end }}
