{{- if or .Values.backend.image.autoupdate.enabled .Values.frontend.image.autoupdate.enabled .Values.exporter.image.autoupdate.enabled }}
apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.imageUpdater.namespace | default "argocd" }}
  labels:
    app: {{ .Release.Name }}
    release: {{ .Release.Name }}
spec:
  namespace: {{ .Values.imageUpdater.argocdNamespace | default "argocd" }}
  applicationRefs:
    - namePattern: {{ .Values.imageUpdater.applicationName | default .Release.Name | quote }}
      images:
        {{- if .Values.backend.image.autoupdate.enabled }}
        {{- $imageTag := .Values.backend.image.tag | toString }}
        {{- $updateStrategy := .Values.backend.image.autoupdate.strategy }}
        {{- $imageName := .Values.backend.image.repository }}
        {{- if not $updateStrategy }}
          {{- if or (eq $imageTag "latest") (hasSuffix "-latest" $imageTag) }}
            {{- $updateStrategy = "digest" }}
          {{- else if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" $imageTag }}
            {{- $updateStrategy = "semver" }}
            {{- $parts := regexSplit "\\." $imageTag -1 }}
            {{- $major := index $parts 0 }}
            {{- $minor := index $parts 1 }}
            {{- $imageName = printf "%s:%s.%s.x" .Values.backend.image.repository $major $minor }}
          {{- end }}
        {{- else if and (eq $updateStrategy "semver") .Values.backend.image.tag }}
          {{- if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" $imageTag }}
            {{- $parts := regexSplit "\\." $imageTag -1 }}
            {{- $major := index $parts 0 }}
            {{- $minor := index $parts 1 }}
            {{- $imageName = printf "%s:%s.%s.x" .Values.backend.image.repository $major $minor }}
          {{- else }}
            {{- $imageName = printf "%s:%s" .Values.backend.image.repository $imageTag }}
          {{- end }}
        {{- else if .Values.backend.image.tag }}
          {{- $imageName = printf "%s:%s" .Values.backend.image.repository $imageTag }}
        {{- end }}
        - alias: "backend"
          imageName: {{ $imageName }}
          {{- if or $updateStrategy .Values.backend.image.autoupdate.allowTags .Values.backend.image.autoupdate.ignoreTags .Values.backend.image.autoupdate.pullSecret .Values.backend.image.autoupdate.platforms }}
          commonUpdateSettings:
            {{- if $updateStrategy }}
            updateStrategy: {{ $updateStrategy }}
            {{- end }}
            {{- if .Values.backend.image.autoupdate.allowTags }}
            allowTags: {{ .Values.backend.image.autoupdate.allowTags | quote }}
            {{- end }}
            {{- if .Values.backend.image.autoupdate.ignoreTags }}
            ignoreTags:
              {{- if kindIs "string" .Values.backend.image.autoupdate.ignoreTags }}
              - {{ .Values.backend.image.autoupdate.ignoreTags | quote }}
              {{- else }}
              {{- toYaml .Values.backend.image.autoupdate.ignoreTags | nindent 14 }}
              {{- end }}
            {{- end }}
            {{- if .Values.backend.image.autoupdate.pullSecret }}
            pullSecret: {{ .Values.backend.image.autoupdate.pullSecret | quote }}
            {{- end }}
            {{- if .Values.backend.image.autoupdate.platforms }}
            platforms:
              {{- toYaml .Values.backend.image.autoupdate.platforms | nindent 14 }}
            {{- end }}
          {{- end }}
          manifestTargets:
            helm:
              name: "backend.image.repository"
              tag: "backend.image.tag"
        {{- end }}
        {{- if .Values.frontend.image.autoupdate.enabled }}
        {{- $imageTag := .Values.frontend.image.tag | toString }}
        {{- $updateStrategy := .Values.frontend.image.autoupdate.strategy }}
        {{- $imageName := .Values.frontend.image.repository }}
        {{- if not $updateStrategy }}
          {{- if or (eq $imageTag "latest") (hasSuffix "-latest" $imageTag) }}
            {{- $updateStrategy = "digest" }}
          {{- else if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" $imageTag }}
            {{- $updateStrategy = "semver" }}
            {{- $parts := regexSplit "\\." $imageTag -1 }}
            {{- $major := index $parts 0 }}
            {{- $minor := index $parts 1 }}
            {{- $imageName = printf "%s:%s.%s.x" .Values.frontend.image.repository $major $minor }}
          {{- end }}
        {{- else if and (eq $updateStrategy "semver") .Values.frontend.image.tag }}
          {{- if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" $imageTag }}
            {{- $parts := regexSplit "\\." $imageTag -1 }}
            {{- $major := index $parts 0 }}
            {{- $minor := index $parts 1 }}
            {{- $imageName = printf "%s:%s.%s.x" .Values.frontend.image.repository $major $minor }}
          {{- else }}
            {{- $imageName = printf "%s:%s" .Values.frontend.image.repository $imageTag }}
          {{- end }}
        {{- else if .Values.frontend.image.tag }}
          {{- $imageName = printf "%s:%s" .Values.frontend.image.repository $imageTag }}
        {{- end }}
        - alias: "frontend"
          imageName: {{ $imageName }}
          {{- if or $updateStrategy .Values.frontend.image.autoupdate.allowTags .Values.frontend.image.autoupdate.ignoreTags .Values.frontend.image.autoupdate.pullSecret .Values.frontend.image.autoupdate.platforms }}
          commonUpdateSettings:
            {{- if $updateStrategy }}
            updateStrategy: {{ $updateStrategy }}
            {{- end }}
            {{- if .Values.frontend.image.autoupdate.allowTags }}
            allowTags: {{ .Values.frontend.image.autoupdate.allowTags | quote }}
            {{- end }}
            {{- if .Values.frontend.image.autoupdate.ignoreTags }}
            ignoreTags:
              {{- if kindIs "string" .Values.frontend.image.autoupdate.ignoreTags }}
              - {{ .Values.frontend.image.autoupdate.ignoreTags | quote }}
              {{- else }}
              {{- toYaml .Values.frontend.image.autoupdate.ignoreTags | nindent 14 }}
              {{- end }}
            {{- end }}
            {{- if .Values.frontend.image.autoupdate.pullSecret }}
            pullSecret: {{ .Values.frontend.image.autoupdate.pullSecret | quote }}
            {{- end }}
            {{- if .Values.frontend.image.autoupdate.platforms }}
            platforms:
              {{- toYaml .Values.frontend.image.autoupdate.platforms | nindent 14 }}
            {{- end }}
          {{- end }}
          manifestTargets:
            helm:
              name: "frontend.image.repository"
              tag: "frontend.image.tag"
        {{- end }}
        {{- if .Values.exporter.image.autoupdate.enabled }}
        {{- $imageTag := .Values.exporter.image.tag | toString }}
        {{- $updateStrategy := .Values.exporter.image.autoupdate.strategy }}
        {{- $imageName := .Values.exporter.image.repository }}
        {{- if not $updateStrategy }}
          {{- if or (eq $imageTag "latest") (hasSuffix "-latest" $imageTag) }}
            {{- $updateStrategy = "digest" }}
          {{- else if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" $imageTag }}
            {{- $updateStrategy = "semver" }}
            {{- $parts := regexSplit "\\." $imageTag -1 }}
            {{- $major := index $parts 0 }}
            {{- $minor := index $parts 1 }}
            {{- $imageName = printf "%s:%s.%s.x" .Values.exporter.image.repository $major $minor }}
          {{- end }}
        {{- else if and (eq $updateStrategy "semver") .Values.exporter.image.tag }}
          {{- if regexMatch "^[0-9]+\\.[0-9]+\\.[0-9]+$" $imageTag }}
            {{- $parts := regexSplit "\\." $imageTag -1 }}
            {{- $major := index $parts 0 }}
            {{- $minor := index $parts 1 }}
            {{- $imageName = printf "%s:%s.%s.x" .Values.exporter.image.repository $major $minor }}
          {{- else }}
            {{- $imageName = printf "%s:%s" .Values.exporter.image.repository $imageTag }}
          {{- end }}
        {{- else if .Values.exporter.image.tag }}
          {{- $imageName = printf "%s:%s" .Values.exporter.image.repository $imageTag }}
        {{- end }}
        - alias: "exporter"
          imageName: {{ $imageName }}
          {{- if or $updateStrategy .Values.exporter.image.autoupdate.allowTags .Values.exporter.image.autoupdate.ignoreTags .Values.exporter.image.autoupdate.pullSecret .Values.exporter.image.autoupdate.platforms }}
          commonUpdateSettings:
            {{- if $updateStrategy }}
            updateStrategy: {{ $updateStrategy }}
            {{- end }}
            {{- if .Values.exporter.image.autoupdate.allowTags }}
            allowTags: {{ .Values.exporter.image.autoupdate.allowTags | quote }}
            {{- end }}
            {{- if .Values.exporter.image.autoupdate.ignoreTags }}
            ignoreTags:
              {{- if kindIs "string" .Values.exporter.image.autoupdate.ignoreTags }}
              - {{ .Values.exporter.image.autoupdate.ignoreTags | quote }}
              {{- else }}
              {{- toYaml .Values.exporter.image.autoupdate.ignoreTags | nindent 14 }}
              {{- end }}
            {{- end }}
            {{- if .Values.exporter.image.autoupdate.pullSecret }}
            pullSecret: {{ .Values.exporter.image.autoupdate.pullSecret | quote }}
            {{- end }}
            {{- if .Values.exporter.image.autoupdate.platforms }}
            platforms:
              {{- toYaml .Values.exporter.image.autoupdate.platforms | nindent 14 }}
            {{- end }}
          {{- end }}
          manifestTargets:
            helm:
              name: "exporter.image.repository"
              tag: "exporter.image.tag"
        {{- end }}
{{- end }}
