{{- if and .Values.authelia.enabled .Values.authelia.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.authelia.serviceAccount.name | default (printf "%s-authelia" .Release.Name) }}
  labels:
    app.kubernetes.io/name: authelia
    app.kubernetes.io/instance: {{ .Release.Name }}-authelia
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/part-of: {{ .Release.Name | quote }}
  {{- with .Values.authelia.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
