{{- if and .Values.seerr.enabled .Values.seerr.ingress.enabled }}
{{- $fullName := printf "%s-seerr" .Release.Name -}}
{{- $svcName := "seerr" -}}
{{- $svcPort := .Values.seerr.service.port -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: seerr
    app.kubernetes.io/instance: {{ .Release.Name }}-seerr
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/part-of: {{ .Release.Name | quote }}
  {{- with .Values.seerr.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.seerr.ingress.className }}
  ingressClassName: {{ .Values.seerr.ingress.className }}
  {{- end }}
  {{- if .Values.seerr.ingress.tls }}
  tls:
    {{- range .Values.seerr.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.seerr.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ $svcName }}
                port:
                  number: {{ $svcPort }}
          {{- end }}
    {{- end }}
{{- end }}
