{{- $anyAutoupdate := false }}
{{- $services := list "jellyfin" "emby" "plex" "sonarr" "radarr" "lidarr" "prowlarr" "bazarr" "qbittorrent" "sabnzbd" "seerr" "huntarr" "cleanuparr" "flaresolverr" "acestream" }}
{{- range $service := $services }}
  {{- $serviceConfig := index $.Values $service }}
  {{- if and $serviceConfig.enabled $serviceConfig.image.autoupdate.enabled }}
    {{- $anyAutoupdate = true }}
  {{- end }}
{{- end }}
{{- if and .Values.qbittorrent.enabled .Values.qbittorrent.gluetun.enabled .Values.qbittorrent.gluetun.image.autoupdate.enabled }}
  {{- $anyAutoupdate = true }}
{{- end }}
{{- if and .Values.acestream.enabled .Values.acestream.gluetun.enabled .Values.acestream.gluetun.image.autoupdate.enabled }}
  {{- $anyAutoupdate = true }}
{{- end }}
{{- if $anyAutoupdate }}
apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.imageUpdater.namespace | default "argocd" }}
  labels:
    app: {{ .Release.Name }}
    release: {{ .Release.Name }}
spec:
  namespace: {{ .Values.imageUpdater.argocdNamespace | default "argocd" }}
  applicationRefs:
    - namePattern: {{ .Values.imageUpdater.applicationName | default .Release.Name | quote }}
      images:
        {{- range $service := $services }}
          {{- $serviceConfig := index $.Values $service }}
          {{- if and $serviceConfig.enabled $serviceConfig.image.autoupdate.enabled }}
            {{- $imageRepo := $serviceConfig.image.repository }}
            {{- $imageTag := $serviceConfig.image.tag }}
        - alias: {{ $service | quote }}
          imageName: {{ $imageRepo }}{{ if $imageTag }}:{{ $imageTag }}{{ end }}
          {{- if or $serviceConfig.image.autoupdate.strategy $serviceConfig.image.autoupdate.allowTags $serviceConfig.image.autoupdate.ignoreTags $serviceConfig.image.autoupdate.pullSecret $serviceConfig.image.autoupdate.platforms }}
          commonUpdateSettings:
            {{- if $serviceConfig.image.autoupdate.strategy }}
            updateStrategy: {{ $serviceConfig.image.autoupdate.strategy }}
            {{- end }}
            {{- if $serviceConfig.image.autoupdate.allowTags }}
            allowTags: {{ $serviceConfig.image.autoupdate.allowTags | quote }}
            {{- end }}
            {{- if $serviceConfig.image.autoupdate.ignoreTags }}
            ignoreTags:
              {{- if kindIs "string" $serviceConfig.image.autoupdate.ignoreTags }}
              - {{ $serviceConfig.image.autoupdate.ignoreTags | quote }}
              {{- else }}
              {{- toYaml $serviceConfig.image.autoupdate.ignoreTags | nindent 14 }}
              {{- end }}
            {{- end }}
            {{- if $serviceConfig.image.autoupdate.pullSecret }}
            pullSecret: {{ $serviceConfig.image.autoupdate.pullSecret | quote }}
            {{- end }}
            {{- if $serviceConfig.image.autoupdate.platforms }}
            platforms:
              {{- toYaml $serviceConfig.image.autoupdate.platforms | nindent 14 }}
            {{- end }}
          {{- end }}
          {{- end }}
        {{- end }}
        {{- if and .Values.qbittorrent.enabled .Values.qbittorrent.gluetun.enabled .Values.qbittorrent.gluetun.image.autoupdate.enabled }}
        - alias: "qbittorrent-gluetun"
          imageName: {{ .Values.qbittorrent.gluetun.image.repository }}{{ if .Values.qbittorrent.gluetun.image.tag }}:{{ .Values.qbittorrent.gluetun.image.tag }}{{ end }}
          {{- if or .Values.qbittorrent.gluetun.image.autoupdate.strategy .Values.qbittorrent.gluetun.image.autoupdate.allowTags .Values.qbittorrent.gluetun.image.autoupdate.ignoreTags .Values.qbittorrent.gluetun.image.autoupdate.pullSecret .Values.qbittorrent.gluetun.image.autoupdate.platforms }}
          commonUpdateSettings:
            {{- if .Values.qbittorrent.gluetun.image.autoupdate.strategy }}
            updateStrategy: {{ .Values.qbittorrent.gluetun.image.autoupdate.strategy }}
            {{- end }}
            {{- if .Values.qbittorrent.gluetun.image.autoupdate.allowTags }}
            allowTags: {{ .Values.qbittorrent.gluetun.image.autoupdate.allowTags | quote }}
            {{- end }}
            {{- if .Values.qbittorrent.gluetun.image.autoupdate.ignoreTags }}
            ignoreTags:
              {{- if kindIs "string" .Values.qbittorrent.gluetun.image.autoupdate.ignoreTags }}
              - {{ .Values.qbittorrent.gluetun.image.autoupdate.ignoreTags | quote }}
              {{- else }}
              {{- toYaml .Values.qbittorrent.gluetun.image.autoupdate.ignoreTags | nindent 14 }}
              {{- end }}
            {{- end }}
            {{- if .Values.qbittorrent.gluetun.image.autoupdate.pullSecret }}
            pullSecret: {{ .Values.qbittorrent.gluetun.image.autoupdate.pullSecret | quote }}
            {{- end }}
            {{- if .Values.qbittorrent.gluetun.image.autoupdate.platforms }}
            platforms:
              {{- toYaml .Values.qbittorrent.gluetun.image.autoupdate.platforms | nindent 14 }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- if and .Values.acestream.enabled .Values.acestream.gluetun.enabled .Values.acestream.gluetun.image.autoupdate.enabled }}
        - alias: "acestream-gluetun"
          imageName: {{ .Values.acestream.gluetun.image.repository }}{{ if .Values.acestream.gluetun.image.tag }}:{{ .Values.acestream.gluetun.image.tag }}{{ end }}
          {{- if or .Values.acestream.gluetun.image.autoupdate.strategy .Values.acestream.gluetun.image.autoupdate.allowTags .Values.acestream.gluetun.image.autoupdate.ignoreTags .Values.acestream.gluetun.image.autoupdate.pullSecret .Values.acestream.gluetun.image.autoupdate.platforms }}
          commonUpdateSettings:
            {{- if .Values.acestream.gluetun.image.autoupdate.strategy }}
            updateStrategy: {{ .Values.acestream.gluetun.image.autoupdate.strategy }}
            {{- end }}
            {{- if .Values.acestream.gluetun.image.autoupdate.allowTags }}
            allowTags: {{ .Values.acestream.gluetun.image.autoupdate.allowTags | quote }}
            {{- end }}
            {{- if .Values.acestream.gluetun.image.autoupdate.ignoreTags }}
            ignoreTags:
              {{- if kindIs "string" .Values.acestream.gluetun.image.autoupdate.ignoreTags }}
              - {{ .Values.acestream.gluetun.image.autoupdate.ignoreTags | quote }}
              {{- else }}
              {{- toYaml .Values.acestream.gluetun.image.autoupdate.ignoreTags | nindent 14 }}
              {{- end }}
            {{- end }}
            {{- if .Values.acestream.gluetun.image.autoupdate.pullSecret }}
            pullSecret: {{ .Values.acestream.gluetun.image.autoupdate.pullSecret | quote }}
            {{- end }}
            {{- if .Values.acestream.gluetun.image.autoupdate.platforms }}
            platforms:
              {{- toYaml .Values.acestream.gluetun.image.autoupdate.platforms | nindent 14 }}
            {{- end }}
          {{- end }}
        {{- end }}
  {{- if .Values.imageUpdater.writeBackConfig }}
  writeBackConfig:
    {{- toYaml .Values.imageUpdater.writeBackConfig | nindent 4 }}
  {{- end }}
{{- end }}
