{{- if and .Values.lidarr.enabled (or (eq .Values.lidarr.database.mode "external") (eq .Values.lidarr.database.mode "cluster")) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-lidarr-config
  labels:
    app.kubernetes.io/name: lidarr
    app.kubernetes.io/instance: {{ .Release.Name }}-lidarr
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/part-of: {{ .Release.Name | quote }}
data:
  db-config.xml: |
    {{- if eq .Values.lidarr.database.mode "cluster" }}
    <PostgresUser>lidarr</PostgresUser>
    <PostgresPassword>__DB_PASSWORD__</PostgresPassword>
    <PostgresHost>{{ .Release.Name }}-lidarr-db-rw</PostgresHost>
    <PostgresPort>5432</PostgresPort>
    {{- else }}
    <PostgresUser>{{ required "lidarr.database.external.username is required when lidarr.database.mode is 'external'" .Values.lidarr.database.external.username }}</PostgresUser>
    <PostgresPassword>__DB_PASSWORD__</PostgresPassword>
    <PostgresHost>{{ required "lidarr.database.external.host is required when lidarr.database.mode is 'external'" .Values.lidarr.database.external.host }}</PostgresHost>
    <PostgresPort>{{ .Values.lidarr.database.port }}</PostgresPort>
    {{- end }}
    <PostgresMainDb>{{ .Values.lidarr.database.mainDatabase }}</PostgresMainDb>
    <PostgresLogDb>{{ .Values.lidarr.database.logDatabase }}</PostgresLogDb>
{{- end }}
