apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount | int }}
  {{- end }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
      {{- if .Values.local.enabled }}
      annotations:
        checksum/tunnel-id: {{ sha256sum .Values.local.auth.tunnelID }}
        checksum/ingress: {{ .Values.local.ingress | toJson | sha256sum }}
        checksum/auth: {{ .Values.local.auth | toJson | sha256sum }}
        checksum/warp-routing: {{ .Values.local.warpRouting | toJson | sha256sum }}
      {{- end }}
    spec:
      securityContext:
        sysctls:
        # Allows ICMP traffic (ping, traceroute) to resources behind cloudflared.
          - name: net.ipv4.ping_group_range
            value: "65532 65532"
      containers:
        name: {{ .Release.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.imagePullPolicy }}
        command:
          - cloudflared
          - tunnel
          - --no-autoupdate
          {{- if .Values.metrics.enabled }}
          - --metrics
          - "0.0.0.0:{{ .Values.metrics.port }}"
          {{ end }}
          {{- if .Values.logLevel }}
          - --loglevel
          - {{ .Values.logLevel }}
          {{- end }}
          {{- if .Values.local.enabled }}
          - --config
          - /etc/cloudflared/config.yaml
          {{- end }}
          - run
        {{- if .Values.managed.enabled }}
        env:
        - name: TUNNEL_TOKEN
          {{- if .Values.managed.existingSecret }}
          valueFrom:
            secretKeyRef:
              name: {{ .Values.managed.existingSecret }}
              key: cf-tunnel-token
          {{- else }}
          value: {{ .Values.managed.token }}
          {{- end }}
        {{- end }}
        {{- if .Values.metrics.enabled }}
        ports:
         - name: metrics
           containerPort: {{ .Values.metrics.port }}
        livenessProbe:
          httpGet:
            path: /ready
            port: metrics
          failureThreshold: 1
          initialDelaySeconds: 10
          periodSeconds: 10
        {{ end }}
        {{- if .Values.local.enabled }}
        volumeMounts:
        - mountPath: /etc/cloudflared/tunnel-config.json
          name: tunnel-secret-volume
          subPath: tunnel-config.json
        - mountPath: /etc/cloudflared/config.yaml
          name: cloudflared-config-volume
          subPath: config.yaml
        {{- end }}
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- if .Values.local.enabled }}
      volumes:
      - name: tunnel-secret-volume
        secret:
          defaultMode: 420
          optional: false
          secretName: {{ default "tunnel-secret" .Values.local.auth.existingSecret }}
      - name: cloudflared-config-volume
        configMap:
          defaultMode: 420
          name: {{ .Release.Name }}
          optional: false
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
