## @section Home Assistant parameters

## @param enabled Whether to enable Home Assistant.
## @param replicaCount The number of replicas to deploy.
## @param image.repository The Docker repository to pull the image from.
## @param image.tag The image tag to use.
## @param image.pullPolicy The logic of image pulling.
## @param image.autoupdate.enabled Enable automatic image updates via ArgoCD Image Updater.
## @param image.autoupdate.strategy Strategy for image updates (semver, latest, newest-build, name, alphabetical, digest).
## @param image.autoupdate.allowTags Match function for allowed tags (e.g., "regexp:^[0-9]+\\.[0-9]+\\.[0-9]+$" or "any").
## @param image.autoupdate.ignoreTags List of glob patterns to ignore specific tags.
## @param image.autoupdate.pullSecret Reference to secret for private registry authentication.
## @param image.autoupdate.platforms List of target platforms (e.g., ["linux/amd64", "linux/arm64"]).
## @param imagePullSecrets The image pull secrets to use.
## @param deployment.strategy.type The deployment strategy to use.
## @param serviceAccount.create Whether to create a service account.
## @param serviceAccount.annotations Additional annotations to add to the service account.
## @param serviceAccount.name The name of the service account to use. If not set and create is true, a new service account will be created with a generated name.
## @param podAnnotations Additional annotations to add to the pod.
## @param podSecurityContext The security context to use for the pod.
## @param securityContext.privileged Whether to run the container in privileged mode.
## @param initContainers Additional init containers to add to the pod.
## @param service.type The type of service to create.
## @param service.port The port on which the service will run.
## @param service.nodePort The nodePort to use for the service. Only used if service.type is NodePort.
## @param ingress.enabled Whether to create an ingress for the service.
## @param ingress.className The ingress class name to use.
## @param ingress.annotations Additional annotations to add to the ingress.
## @param ingress.hosts[0].host The host to use for the ingress.
## @param ingress.hosts[0].paths[0].path The path to use for the ingress.
## @param ingress.hosts[0].paths[0].pathType The path type to use for the ingress.
## @param ingress.tls The TLS configuration for the ingress.
## @param resources The resources to use for the pod.
## @param autoscaling.enabled Whether to enable autoscaling.
## @param autoscaling.minReplicas The minimum number of replicas to scale to.
## @param autoscaling.maxReplicas The maximum number of replicas to scale to.
## @param autoscaling.targetCPUUtilizationPercentage The target CPU utilization percentage to use for autoscaling.
## @param autoscaling.targetMemoryUtilizationPercentage The target memory utilization percentage to use for autoscaling.
## @param nodeSelector The node selector to use for the pod.
## @param tolerations The tolerations to use for the pod.
## @param affinity The affinity to use for the pod.
## @param env.TZ The timezone to use for the pod.
## @param persistence.enabled Whether to enable persistence.
## @param persistence.storageClass The storage class to use for the persistence.
## @param persistence.existingClaim The name of an existing claim to use for the persistence.
## @param persistence.accessMode The access mode to use for the persistence.
## @param persistence.size The size to use for the persistence.
## @param persistence.backup.enabled Whether to enable backup persistence.
## @param persistence.backup.storageClass The storage class to use for backup persistence.
## @param persistence.backup.existingClaim The name of an existing claim to use for backup persistence.
## @param persistence.backup.accessMode The access mode to use for backup persistence.
## @param persistence.backup.size The size to use for backup persistence.
## @param persistence.additionalVolumes Additional volumes to add to the pod.
## @param persistence.additionalMounts Additional volume mounts to add to the pod.
##
enabled: true
replicaCount: 1

image:
  repository: ghcr.io/home-assistant/home-assistant
  pullPolicy: IfNotPresent
  tag: "2024.11.3"
  autoupdate:
    enabled: false
    strategy: semver
    allowTags: ""
    ignoreTags: []
    pullSecret: ""
    platforms: []

imagePullSecrets: []

deployment:
  strategy:
    type: Recreate

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  privileged: true
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

initContainers: []
  # - name: init-container
  #   image: busybox
  #   command: ['sh', '-c', 'echo "this is an init container"']

service:
  type: LoadBalancer
  port: 8123
  nodePort: ""

ingress:
  enabled: true
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

env:
  TZ: "Europe/London"

persistence:
  enabled: true
  storageClass: "ceph-rbd"
  existingClaim: ""
  accessMode: ReadWriteOnce
  size: 1Gi
  backup:
    enabled: false
    storageClass: "cephfs"
    existingClaim: ""
    accessMode: ReadWriteMany
    size: 5Gi
  additionalVolumes: []
  additionalMounts: []


## @section ArgoCD Image Updater parameters

## @param imageUpdater.namespace Namespace where the ImageUpdater CRD will be created.
## @param imageUpdater.argocdNamespace Namespace where ArgoCD Applications are located.
## @param imageUpdater.applicationName Name or pattern of the ArgoCD Application to update. Defaults to Release name.
## @param imageUpdater.imageAlias Alias for the image in the ImageUpdater CRD. Defaults to Release name.
## @param imageUpdater.forceUpdate Force update even if image is not currently deployed.
## @param imageUpdater.helm Helm-specific configuration for parameter names (e.g., {name: "image.repository", tag: "image.tag"}).
## @param imageUpdater.kustomize Kustomize-specific configuration (e.g., {name: "original/image"}).
## @param imageUpdater.writeBackConfig Write-back configuration for GitOps.
##
imageUpdater:
  namespace: argocd
  argocdNamespace: argocd
  applicationName: ""
  imageAlias: ""
  forceUpdate: false
  helm: {}
  kustomize: {}
  writeBackConfig: {}
