{{- if and .Values.enabled .Values.database.enabled (eq .Values.database.mode "cluster") }}
{{- if .Values.database.cluster.secret.create }}
{{- $secretName := .Values.database.cluster.secret.name | default (printf "%s-frigate-db-app" .Release.Name) }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- $password := "" }}
{{- if $existingSecret }}
{{- $password = index $existingSecret.data "password" | b64dec }}
{{- else }}
{{- $password = .Values.database.auth.password }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    app.kubernetes.io/name: frigate-database
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  {{- if not .Values.database.auth.password }}
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
  {{- end }}
type: Opaque
stringData:
  username: {{ .Values.database.auth.username }}
  password: {{ $password }}
  database-url: postgresql://{{ .Values.database.auth.username }}:{{ $password }}@{{ .Release.Name }}-{{ .Values.database.cluster.name }}-rw:5432/{{ .Values.database.auth.username }}
{{- end }}

{{- if .Values.database.cluster.superuserSecret.create }}
{{- $superuserSecretName := .Values.database.cluster.superuserSecret.name | default (printf "%s-frigate-db-superuser" .Release.Name) }}
{{- $existingSuperuserSecret := lookup "v1" "Secret" .Release.Namespace $superuserSecretName }}
{{- $superuserPassword := "" }}
{{- if $existingSuperuserSecret }}
{{- $superuserPassword = index $existingSuperuserSecret.data "password" | b64dec }}
{{- else }}
{{- $superuserPassword = .Values.database.cluster.superuserSecret.password }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $superuserSecretName }}
  labels:
    app.kubernetes.io/name: frigate-database
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  {{- if not .Values.database.cluster.superuserSecret.password }}
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
  {{- end }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ .Values.database.cluster.superuserSecret.username }}
  password: {{ $superuserPassword }}
{{- end }}
{{- end }}
