{{- if and .Values.global.postgresqlEnabled (not .Values.postgresql.auth.existingSecret) }}
{{- $postgresqlSecretName := printf "%s-postgresql-auth" .Release.Name }}
{{- $existingPostgresqlSecret := lookup "v1" "Secret" .Release.Namespace $postgresqlSecretName }}
{{- $postgresqlPassword := "" }}
{{- $postgresqlPostgresPassword := "" }}
{{- if $existingPostgresqlSecret }}
{{- $postgresqlPassword = index $existingPostgresqlSecret.data "password" | b64dec }}
{{- $postgresqlPostgresPassword = index $existingPostgresqlSecret.data "postgres-password" | b64dec }}
{{- else }}
{{- $postgresqlPassword = .Values.postgresql.auth.password | default (randAlphaNum 32) }}
{{- $postgresqlPostgresPassword = .Values.postgresql.auth.postgresPassword | default (randAlphaNum 32) }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $postgresqlSecretName }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-postgresql
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
stringData:
  password: {{ $postgresqlPassword }}
  postgres-password: {{ $postgresqlPostgresPassword }}
{{- end }}

{{- if and .Values.global.redisEnabled .Values.redis.auth.enabled (not .Values.redis.auth.existingSecret) }}
{{- $redisSecretName := printf "%s-redis-auth" .Release.Name }}
{{- $existingRedisSecret := lookup "v1" "Secret" .Release.Namespace $redisSecretName }}
{{- $redisPassword := "" }}
{{- if $existingRedisSecret }}
{{- $redisPassword = index $existingRedisSecret.data "redis-password" | b64dec }}
{{- else }}
{{- $redisPassword = .Values.redis.auth.password | default (randAlphaNum 32) }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $redisSecretName }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-redis
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: redis
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
stringData:
  redis-password: {{ $redisPassword }}
{{- end }}

{{- if and .Values.global.minioEnabled (not .Values.minio.auth.existingSecret) }}
{{- $minioSecretName := printf "%s-minio-auth" .Release.Name }}
{{- $existingMinioSecret := lookup "v1" "Secret" .Release.Namespace $minioSecretName }}
{{- $minioRootPassword := "" }}
{{- if $existingMinioSecret }}
{{- $minioRootPassword = index $existingMinioSecret.data "root-password" | b64dec }}
{{- else }}
{{- $minioRootPassword = .Values.minio.auth.rootPassword | default (randAlphaNum 32) }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $minioSecretName }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-minio
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: minio
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
stringData:
  root-password: {{ $minioRootPassword }}
{{- end }}
